.post {
  padding: 2.5rem;
  border-radius: 8px;
  background: var(--gray-800);
}

.post + .post {
  margin-top: 2rem;
}

.content {
  line-height: 1.6;
  margin-top: 1.5rem;
  color: var(--gray-300);
}

.content p {
  margint-top: 1rem;
}

.content a {
  font-weight: bold;
  text-decoration: none;
  color: var(--green-500);
}

.content a:hover {
  color: var(--green-300);
}

.post > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post > header time {
  font-size: 0.875rem;
  color: var(--gray-400);
}

.author {
  gap: 1rem;
  display: flex;
  align-items: center;
}

.authorInfo {
  display: flex;
  flex-direction: column;
}

.authorInfo strong {
  line-height: 1.6;
  color: var(--gray-100);
}

.authorInfo strong {
  line-height: 1.6;
  font-size: 0.875rem;
  color: var(--gray-400);
}

.commentForm {
  width: 100%;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid var(--gray-600);
}

.commentForm > strong {
  line-height: 1.6;
  color: var(--gray-100);
}

.commentForm textarea {
  border: 0;
  width: 100%;
  resize: none;
  height: 6rem;
  padding: 1rem;
  margin-top: 1rem;
  line-height: 1.4;
  border-radius: 8px;
  color: var(--gray-100);
  background: var(--gray-900);
}

.commentForm footer {
  max-height: 0;
  visibility: hidden;
}

.commentForm:focus-within footer {
  max-height: none;
  visibility: visible;
}

.commentForm footer button {
  border: 0;
  cursor: pointer;
  margin-top: 1rem;
  font-weight: bold;
  border-radius: 8px;
  color: var(--white);
  padding: 1rem 1.5rem;
  background: var(--green-500);
  transition: background-color 0.2s;
}

.commentForm footer button:not(:disabled):hover {
  background: var(--green-300);
}

.commentForm footer button:disabled {
  background: var(--gray-400);
  cursor: not-allowed;
}

.commentList {
  margin-top: 2rem;
}

.danger {
  /* outline: transparent !important;
  box-shadow: 0 0 0 2px var(--red-500) !important; */
  border: 2px solid var(--red-500);
  color: red;
}
